@import "tailwindcss";

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  .animate-pulse-scale {
    animation: pulse-scale 2s ease-in-out 0.5s infinite;
  }

  @keyframes pulse-scale {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.7);
    }

    100% {
      transform: scale(1);
    }
  }

  .futuristic-card-bg {
    background: radial-gradient(57.89% 132% at 65.79% -35%, rgba(120, 123, 255, .06) 0%, rgba(120, 123, 255, 0) 100%),
      linear-gradient(180deg, rgba(255, 255, 255, 0) 54.17%, rgba(255, 255, 255, .04) 100%),
      rgba(255, 255, 255, .01);
  }

  /* New background styles */
  .bg-soft-noise {
    background-image: url('/images/noise-pattern.png');
    background-repeat: repeat;
    opacity: 0.06;
  }
}

:root {
  /* Base units */
  --vw: clamp(0.5rem, 0.8vw, 1rem);

  /* colors */
  --background: #FFFFFF;
  --foreground: #1F2937;

  /* text sizing */
  --text-2xs: clamp(0.465rem, 0.62vw, 0.62rem);
  --text-xs: clamp(0.54rem, 0.72vw, 0.72rem);
  --text-sm: clamp(0.615rem, 0.82vw, 0.82rem);
  --text-base: clamp(0.69rem, 0.92vw, 0.92rem);
  --text-lg: clamp(0.75rem, 1vw, 1rem);
  --text-xl: clamp(0.9375rem, 1.25vw, 1.25rem);
  --text-2xl: clamp(1.125rem, 1.5vw, 1.5rem);
  --text-3xl: clamp(1.3125rem, 1.75vw, 1.75rem);
  --text-4xl: clamp(1.6875rem, 2.25vw, 2.25rem);
  --text-5xl: clamp(2.25rem, 3vw, 3rem);
  --text-6xl: clamp(2.625rem, 3.5vw, 3.5rem);
  --text-7xl: clamp(3.375rem, 4.5vw, 4.5rem);
  --text-8xl: clamp(4.5rem, 6vw, 6rem);
  --text-9xl: clamp(10rem, 15vw, 18rem);

  /* Base spacing units */
  --vw-0_25: calc(var(--vw) * 0.25);
  --vw-0_5: calc(var(--vw) * 0.5);
  --vw-0_625: calc(var(--vw) * 0.625);
  --vw-0_75: calc(var(--vw) * 0.75);
  --vw-1: calc(var(--vw) * 1);
  --vw-1_25: calc(var(--vw) * 1.25);
  --vw-1_5: calc(var(--vw) * 1.5);
  --vw-1_75: calc(var(--vw) * 1.75);
  --vw-2: calc(var(--vw) * 2);
  --vw-2_25: calc(var(--vw) * 2.25);
  --vw-2_5: calc(var(--vw) * 2.5);
  --vw-2_75: calc(var(--vw) * 2.75);
  --vw-3: calc(var(--vw) * 3);
}

@media (max-width: 767px) {
  :root {
    --vw: 3vw;
}
}
